.work-sample {
  display: flex;

  &__name {
    text-decoration: underline;
    text-decoration-color: #6495ED;
  }

  &__text {
    margin: 48px;
  }

  &__image {
    border-radius: 20px;
    margin: 0 48px;
    max-height: 200px;
  }
}